@import 'https://fonts.googleapis.com/css?family=Merriweather';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-title {
    font-weight: bold;
    margin-left: 3%;
}

.app {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.row {
    width: 100%;
    height: 100%;
}

.row:last-child {
    width: 80%;
    max-width: calc(100% - 100px);
}

.row:first-child {
    width: 20%;
    min-width: 100px;
}

.row:last-child {
    display: flex;
    flex-direction: column;
}

.list {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.map {
    height: 50%;
    width: 85%;
    border-bottom: 1px dotted rgba(255, 0, 0, .2);
    resize: vertical;
    overflow: auto;
    position: relative;
    padding-top: 1.2%;
    padding-left: 15%;
}

.graph {
    height: auto;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.list-countryes {
    height: 48%;
}

.list-diseases {
    height: 19%;
}

.list-years {
    height: 29%;

}

.list-years, .list-diseases, .list-countryes {
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.selectedOption {
    background-color: rgba(255, 0, 0, .5);
    cursor: pointer;
}

.defaultOption {
    cursor: pointer;
}

.selectDisease, .selectCountryes, .selectYears{
    overflow-y: scroll;
    height: calc(100% - 20px);
    border-top: 1px solid rgba(0,0,0,0.1);
}

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: rgba(255, 0, 0, .2);
    opacity: 0.7;
    border-radius: 10px;
}

.pie g text {
    visibility: hidden;
}

.titleMap {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.titleMap .title {
    font-weight: bold;
}

.titleMap .lable1 {

}

.titleMap .lable1 .color {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.titleMap .lable1 .red {
    background-color: red;
}

.titleMap .lable1 .green {
    background-color: rgb(171, 221, 164);
}

.titleMap .lable1 .gray {
    background-color: rgb(220, 220, 220);
}

.graph .pie1, .graph .bar1 {
    height: 100%;
    position: relative;
    resize: vertical;
    overflow: auto;
    position: relative;
}

.label {
    position: absolute;
    top: 5px;
    left: 5px;
}

.label div {
    cursor: pointer;
}

.label .selected {
    background-color: rgba(255, 0, 0, .5);
}

.label .none {
}

.pie1 .message {
    margin: 10px;
}
